:root {
    --primary-brown: rgb(108, 98, 94);
    --secondary-brown: rgb(226, 215, 188);
    --primary-red: rgb(168, 43, 60);
}

a{
    text-decoration: none;
}
a:hover{
color: var(--primary-red);
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    background: var(--secondary-brown);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

}

strong{
    font-weight: 400;
}


.nav-bar{
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.text-highlight{
    color: var(--primary-red);
}
a, .footer-box{
    text-decoration: none;
    color: var(--secondary-brown);
}
a:hover .footer-box{
    text-decoration: none;
    color: var(--primary-red);
    font-weight: 500;
}


.sticky-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-brown);
    color: var(--secondary-brown);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 1em;
}

.sticky-button.sticky {
    bottom: 20px;
    right: 20px;
}

.vertical-line{
    border-style:double;
    border-color: var(--secondary-brown);
    border-width: 0 1px 0 0;
}


header {
    background-color: white;
    width: 100%;
    color: var(--secondary-brown);
    text-align: center;

}

.header-logo {
    background: url("img/banner-logo.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height:150px;
        margin:30px;
        padding: 0;
    
}

.box {
    background-color: white;
    color: var(--primary-brown);
    margin:  30px 0 30px 0;
    padding: 20px 50px;
    font-size: 1.2em;
    letter-spacing: 0.1em;


}

.how-div {
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url("img/bg-how.jpg");
}

.sp-bot-10px {
    margin-bottom:10px;
}

strong {
    font-size: 1.1em;
}

.text-left {
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.text-small-size {
    font-size: 0.8em;
}

.text-default-size {
    font-size: 1.2em;
}
.img-center{
    text-align:center;

}
.img-corsi {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    align-self: center;

}

.font-col-sec{
    color:var(--secondary-brown);
}
.img-author {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 30px 0 30px 0;
    object-fit: cover;
    align-self: center;
}

.flex-col {
    flex-direction: column;
    width:100%;
}

.flex-row {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}


.box-inside {
    display: flex;
    color: var(--primary-brown);


}

.box-lesson{
    max-width: 300px;
        border-style:double;
    border-color: var(--secondary-brown);
    border-width: 0 1px 0 0;
    padding: 0 25px;
}

.box-teacher{
    min-width:200px;
    max-width:250px;
}
@media (max-width: 800px) {
    .box-lesson{
        max-width:100%;
        width:100%;
    }
    .box-teacher{
        max-width:100%;
        width:100%;
    }
    .box-inside {
        flex-direction: column;

    }
    .flex-col{
        width: 100%;
    }
    .flex-row {
        display: flex;
        flex-direction: column;
    }
    ul {
        flex-direction: column;
    }

    li {
        padding: 10px 0 10px 0;
    }
    .vertical-line{
        border-style:double;
        border-color: var(--secondary-brown);
        border-width: 1px 0 0 0;
        margin-bottom: 20px;
    }
    footer {
        flex-direction: column;
    }


}

.text-box {
    flex-direction: column;
    padding: 0px;
    margin: 0 0 30px 10px;

}

footer {
    background-color: var(--primary-brown);
    text-align: center;
    padding-top: 20px;
    margin: 0 0 0 0;
    margin-top: auto;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
}


.footer-box {
    color: var(--secondary-brown);
}

.flat-img {
    height: 30px;
    width: 30px;
}

.cibo {
    filter: invert(1);
    width: 45px;
}

hr.author {
    border-top: 1px solid var(--primary-brown);
    width: 40%;
    margin-bottom: 60px;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: var(--primary-brown);
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: var(--primary-brown);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: var(--secondary-brown);
    color: black;
  }
  
  /* Style the active link (or home) */
  .active {
    background-color: var(--primary-brown);
    color: white;
  }
